@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --primary-color: #388DE6;
    --black: #242424;
    --white: #FFFFFF;
}

::selection {
    color: var(--white);
    background: var(--primary-color);
}

.container {
    margin: 0 auto;
    max-width: 1460px;
    padding-left: 40px;
    padding-right: 40px;
}

.section-wrapper {
    display: flex;
    width: 100%;
    height: calc(100% - 100px);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth !important;
}

a {
    color: var(--white);
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    user-select: none;
}

img {
    object-fit: cover;
    user-select: none;
}

section {
    width: 100%;
    height: 100vh;
    padding: 64px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

header {
    width: 100%;
    height: 1080px;
    border-radius: 0px 0px 48px 48px;
    background-image: url(./assets/main-bg.jpg);
    background-size: cover;
    color: var(--black);
}

footer {
    background-color: #f0f0f0;
    height: 50vh !important;
}

body::-webkit-scrollbar {
    width: 6px !important;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}

body::-webkit-scrollbar-thumb {
    background: rgb(72, 72, 72) !important;
}

/*  */

header>nav {
    position: fixed;
    width: 100%;
    max-height: 100px;
    overflow: hidden;
    padding: 24px 0;
    background-color: var(--black);
    border-radius: 0px 0px 48px 48px;
    z-index: 10;
}

header>nav>.container {
    display: flex;
    justify-content: space-between;
}

header>nav>.container>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 800px;

    list-style: none;
}

header>nav>.container>ul>li>a {
    padding: 4px 8px;
    transition: background-color ease-in-out 250ms;
}

header>nav>.container>ul>li>a:hover {
    background-color: var(--primary-color);
}

header>.home-content {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header>.home-content>div {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding-bottom: 192px;
}

header>.home-content>div>h1 {
    font-weight: 600;
    font-size: 34px;
}

header>.home-content>div>p {
    color: #606060;
    font-weight: 300;
    font-size: 18px;
    max-width: 80%;
}

header>.home-content>div>a {
    background-color: var(--primary-color);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 256px;
    height: 64px;
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    margin-top: 64px;
    box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 24px 6px rgba(0, 0, 0, 0.25);
}

/*  */

#logo {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

/*  */

#description>.section-wrapper{
    flex-direction: column;
}

#description h2{
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    font-size: 24px;
    margin-bottom: 32px;
    padding: 16px;
}

.description-grid {
    display: grid;
    grid-template-columns: 1 1;
    grid-template-rows: 1 1 1;
    gap: 16px;
    grid-template-areas:
        "A1 A2"
        "A1 A4"
        "A3 A4";
}

.description-grid>.A1 {
    grid-area: A1;
}
.description-grid>.A2 {
    grid-area: A2;
}
.description-grid>.A3 {
    grid-area: A3;
}
.description-grid>.A4 {
    grid-area: A4;
}

.description-grid img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: solid 1px var(--black);
}

.description-grid p{
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: var(--black);
    color: var(--white);
}

/*  */

#team>.section-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
}

#team>.section-wrapper>h2 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    padding: 16px 0;
}

#team>.section-wrapper>.team-wrapper {
    display: flex;
    justify-content: space-between;
}

#team>.section-wrapper>.team-wrapper>.team-card {
    position: relative;
    width: 30%;
    aspect-ratio: 3 / 4;
    transition: filter ease-in-out 250ms;
}

#team>.section-wrapper>.team-wrapper>.team-card:hover {
    filter: saturate(1.1) brightness(1.1);
}

#team>.section-wrapper>.team-wrapper>.team-card>img {
    position: absolute;
    width: 100%;
    aspect-ratio: 3 / 4;
    overflow: hidden;
    border: 1px solid var(--black);
    filter: brightness(0.9);
    z-index: -2;
    padding-bottom: 192px;
}

#team>.section-wrapper>.team-wrapper>.team-card>div {
    position: absolute;
    width: 100%;
    aspect-ratio: 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: var(--white);
    gap: 16px;
    text-shadow: 2px 2px var(--black);
    z-index: -1;
}

#team>.section-wrapper>.team-wrapper>.team-card>div>b {
    font-weight: 600;
    font-size: 24px;
}

#team>.section-wrapper>.team-wrapper>.team-card>div>p {
    background-color: var(--white);
    color: var(--black);
    text-shadow: none;
    padding: 14px;
    border: 1px solid var(--black);
}

#team>.section-wrapper>.team-wrapper>.team-card>div>p>i {
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}

/*  */

#contact {
    height: 50vh !important;
}

#contact>.section-wrapper {
    width: 100%;
    display: flex;
}

#contact>.section-wrapper>p {
    background-color: var(--black);
    color: var(--white);
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
}

#contact>.section-wrapper>p>span {
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 16px;
}

#contact>.section-wrapper>img {
    width: 60%;
    object-fit: cover;
}